* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6em;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #BDE0FE;
}
.container{
    width: 70%;
    margin: auto;
    background-color: rgb(124, 165, 241);
    border-radius: 10px;
    padding: 20px;
}
.main-container{
  border-radius: 0px 0px 20px 20px;
}
.title,
.links-list {
  text-align: center;
}
.title {
  background-color: #FFAFCC;
  text-align: center;
  padding: 10px;
  color: #023047;
}
.links-list {
  list-style: none;
}
.links-list a {
  display: block;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: rgb(59, 124, 208);
  padding: 40px 20px;
  background-color:#b5e48c;
  max-width: 500px;
  text-align: center;
  margin: 20px auto;
  border-radius: 20px;

}
.links-list li {
  
}

.sub-title {
  padding: 20px 0px 5px 6px;
}
.description {
  padding: 10px 6px;
}
.ingredients {
  padding-left: 6px;
  list-style: disc;
  margin-left: 20px;
}
.directions{
    padding-left: 6px;
    margin-left: 20px;
}
.directions p {
    padding: 5px 0;
}
.image{
  display: block;
   align-items: center;
   margin: 10px auto;
   border-radius: 20px;
}
.back{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    text-align: center;
    display: block;
    margin-bottom: 60px;
    margin-top: 10px;
    /* i know i can use width to make it not take whole width and be like a button */
}
